/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole generali */
.box {
    width: 1000px;
    margin: auto;
}

/* Inizio Header */
.container-header {
    background-color: #ff6900;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.box-header {
    display: flex;
    align-items: center;
}

.small-column {
    width: 20%;
}

.small-column:last-child {
    text-align: right;
}

.small-column > a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 3px;
    font-size: 15px;
}

.big-column {
    width: 60%;
    text-align: center;
}

img {
    width: 130px;
}
/* Fine Header */

/* Inizio Main */
#container-main {
    padding: 50px;
    margin-top: 70px;
}

.box-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    width: calc(100% / 3 - 15px);
    margin-bottom: 50px;
}

.card-photo {
    width: 100%;
    position: relative;
    min-height: 400px;
}

.first-img {
    width: 100%;
}

.second-img {
    width: 100%;
    display: none;
}

.card-photo:hover .first-img {
    display: none;
}

.card-photo:hover .second-img {
    display: inline;
}

.sale {
    background-color: red;
    color: white;
    padding: 4px 10px;
    font-size: 12px;
    position: absolute;
    bottom: 50px;
    left: 0px;
    font-weight: bold;
}

.sustainability {
    background-color: #008000;
    color: white;
    padding: 4px 10px;
    font-size: 12px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-weight: bold;
}

.single-sustainability {
    background-color: #008000;
    color: white;
    padding: 4px 10px;
    font-size: 12px;
    position: absolute;
    bottom: 50px;
    left: 0px;
    font-weight: bold; 
}

.heart {
    background-color: white;
    padding: 5px;
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 0px;
}

.heart:hover {
    color: red;
}

.card-brand {
    width: 100%;
    min-height: 50px;
}

.mark {
    font-size: 13px;
}

.product {
    font-weight: bold;
}

.price-sale {
    font-size: 13px;
    color: red;
    font-weight: bold;
}

.price {
    color: black;
    text-decoration: line-through;
    font-weight: normal;
}
/* Fine Main */

/* Inizio Footer */
#container-footer {
    background-color: #1a1a1a;
    padding: 20px;
}

.box-footer {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.information {
    width: 400px;
}

.information > p {
    font-weight: bolder;
    padding: 5px 0;
}

.information > a {
    font-size: 13px;
    text-decoration: none;
    margin-right: 3px;
    color: white;
}

.social {
    width: 200px;
    text-align: end;
    padding: 10px 0;
}

.social > p {
    font-size: 13px;
    font-weight: bolder;
    line-height: 20px;
}

.social > a {
    margin-left: 10px;
    text-decoration: none;
}
/* Fine Footer */

/* Colori
    Arancione: #ff6900
    Nero: #1a1a1a
    Verde: #008000
*/
