/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole generali */
.box {
    width: 1000px;
    margin: 0 auto;
}

/* Inizio Header */
.container-header {
    background-color: #ff6900;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
}

.box-header {
    display: flex;
    border: 2px dashed black;
    align-items: center;
}

.small-column {
    width: 20%;
}

.small-column:last-child {
    text-align: right;
}

.small-column > a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 3px;
    font-size: 15px;
}

.big-column {
    width: 60%;
    text-align: center;
}

img {
    width: 130px;
}
/* Fine Header */

/* Inizio Main */
#container-main {
    background-color: lightblue;
    padding: 50px;
    margin-top: 70px;
}

.box-main {
    background-color: lightcoral;
    border: 2px dashed black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    width: calc(100% / 3 - 15px);
    margin-bottom: 40px;
}

.card-photo {
    width: 100%;
    position: relative;
    height: 400px;
    background-color: lightgreen;
    border: 2px dashed black;
}

/* Fine Main */

/* Inizio Footer */
/* Fine Footer */

/* Colori
    Arancione: #ff6900
    Nero: #1a1a1a
*/
